<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <h1>Launchstore</h1>
                <h2>Compra e Venda</h2>
            </a>
        </div>

        <form action="/products/search" method="get" class="search">
            <input 
            type="text" 
            name="filter" 
            placeholder="Buscar por produtos"
            {% if search.term %}
            value="{{ search.term }}"
            {% endif %}
            >
        </form>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/ads/create">
                    <i class="material-icons">add</i>
                    Novo anúncio
                    </a>
                </li>
                <li class="account">
                    <a {% if not user %} href="/accounts" {% else %} href="/user" {% endif %}>
                    <i class="material-icons">account_circle</i>
                    {% if not user %}
                    Minha conta
                    {% else %}
                    <span id="username">
                    {{user.name}}
                    </span>
                    <ul class="submenu">
                        <li><a href="/user">Meu perfil</a></li>
                        <li><a href="/user/buying">Minhas compras</a></li>
                        <li><a href="/user/selling">Minhas vendas</a></li>
                        <li>
                            <form action="/user/logout" method="post"><button>Sair</button></form>
                        </li>
                    </ul>
                    {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>