<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "includes/styles.njk" %}
    <title>Launchstore</title>
</head>
<body>
    {% include "includes/messages.njk" %}

    {% include "includes/header.njk" %}

    {% block content %}{% endblock %}

    {% include "includes/footer.njk" %}
</body>
</html>